{% extends 'aplicacion/base.html' %}
{% load static %}


{% block contenido %}
<div class="container">
    <div class="mt-4 p-5 bg-light text-dark rounded">
        <h1>Este es un ejemplo con Bootstrap y Django</h1>
        <p>Esperemos que quede lindo...</p>
    </div>
    <p class="m-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor odio numquam qui perspiciatis voluptate doloribus
        iure cum architecto, facere dolorem repellendus reiciendis quisquam quae adipisci! Inventore qui tempora ullam
        mollitia.
    </p>
</div>
{% endblock contenido %}