{% extends 'aplicacion/base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block contenido %}

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="mt-5 shadow">
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Iniciar Sesión</h4>
                  <form action="" method="post">
                    {% csrf_token %}
                    {{form | crispy}}
    
                    <input type="submit" value="Login" class="btn btn-primary btn-lg alinear-derecha">
    
                </form>
                
                </div>
              </div>

            <h3></h3>
            


        </div>
        <a href="{% url 'crearcuenta' %}">Crear cuenta de usuario</a>

    </div>
    <div class="col-sm-4"></div>
</div>




{% endblock contenido %}